<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Choose an option from the menu below: </h2>
<ul id="navbar">
  <li>
    <h2><a target="_self" rel="noopener" href="#">House Wishlist</a></h2>
  </li>
  <li>
    <h2><a name="vault" routerLink="/vault">House Vault</a></h2>
  </li>
  <li>
    <h2><a target="_self" rel="noopener" href="#">House Possessions</a></h2>
  </li>
  <li>
    <h2><a target="_self" rel="noopener" href="#">House Bills</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
