th {
    background-color: #3399ff;
    color: #ffffff;
  }
  
  td, th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #cce6ff;
  }
  
  .bill {
    text-align: center;
    width: 20px;
  }
  
  input:checked {
    background-color: #01ad1b;
  }
  input:checked:hover {
    background-color: #386d00;
  }
  
  .bill input {
    border: none;
    width: 60px;
  }
  .bill-date input {
    border: none;
    width: 80px;
  }